<div class="col-lg-6 mb-5">
    <div class="card rounded-3 card mb-0">
        <div class="card-header d-flex justify-content-between align-items-center position-relative">
            <div class="iq-header-title">
                <h4 class="mb-0">Featured Writer</h4>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: transparent; border: none;">
                    This Week
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item d-flex align-items-center gap-1" href="#"><i
                                class="ph ph-eye mr-2"></i> View</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-1" href="#"><i
                                class="ph ph-trash mr-2"></i> Delete</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-1" href="#"><i
                                class="ph ph-pencil-simple mr-2"></i> Edit</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-1" href="#"><i
                                class="ph ph-printer mr-2"></i> Print</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-1" href="#"><i
                                class="ph ph-file-arrow-down mr-2"></i> Download</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class=" row mb-0  align-items-center overflow-auto" style="max-height: 380px;">
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/01_1.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Brandon Guidelines</h6>
                        <small class="mb-0">Publish Books: <b>2831</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/02_2.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Hugh Millie-Yate</h6>
                        <small class="mb-0">Publish Books: <b>432</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/03_2.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Nathaneal Down</h6>
                        <small class="mb-0">Publish Books: <b>5471</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/04_2.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Thomas R. Toe</h6>
                        <small class="mb-0">Publish Books: <b>8764</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/05_1.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Druid Wensleydale</h6>
                        <small class="mb-0">Publish Books: <b>8987</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/06_1.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Natalya Undgrowth</h6>
                        <small class="mb-0">Publish Books: <b>2831</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/07_1.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Desmond Eagle</h6>
                        <small class="mb-0">Publish Books: <b>4324</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/08_1.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Lurch Schpellchek</h6>
                        <small class="mb-0">Publish Books: <b>012</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/09_1.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Natalya Undgrowth</h6>
                        <small class="mb-0">Publish Books: <b>2831</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/10.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Natalya Undgrowth</h6>
                        <small class="mb-0">Publish Books: <b>2831</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/11.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Natalya Undgrowth</h6>
                        <small class="mb-0">Publish Books: <b>2831</b></small>
                    </div>

                </div>
                <div class="col-sm-6 d-flex mb-3 align-items-center">
                    <a href="javascript:void(0);" class="me-3">
                        <img src="assets/images/01_1.jpg" alt="" class="img-fluid avatar-60 rounded-circle">
                    </a>
                    <div class="mt-1">
                        <h6 class="mb-0">Natalya Undgrowth</h6>
                        <small class="mb-0">Publish Books: <b>2831</b></small>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>