<div class="wrapper">
  <div class="login-content">
    <div class="container">
      <div
        class="row d-flex align-items-center justify-content-center vh-100 w-100 m-0"
      >
        <div class="col-lg-5 col-md-12 align-self-center bg-primary py-3">
          <div class="card p-0 mb-0">
            <div class="card-body auth-card">
              <div class="logo-img text-center mb-3">
                <img
                  src="assets/images/logo-white.png"
                  height="30"
                  alt="logo"
                />
              </div>
              <h1 class="text-primary reset-pw fw-900 text-center">
                Forgot Password
              </h1>
              <p class="text-center mb-4 auth-desc">
                Enter your email address to receive a password reset link.
              </p>
              <form [formGroup]="forgotForm" (ngSubmit)="submit()">
                <div class="custom-form-field mb-4">
                  <label>Email Address <span>*</span></label>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                  />
                  <div
                    class="text-danger"
                    *ngIf="fc['email'].errors && isSubmitted"
                  >
                    <div *ngIf="fc['email'].errors['required']">
                      Email is required
                    </div>
                    <div *ngIf="fc['email'].errors['email']">
                      Enter a valid email
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                  Send Reset Link
                </button>
              </form>
              <div class="auth-signup mt-4">
                <p class="text-center mb-0">
                  Back to
                  <a routerLink="/signin" class="ms-2">Sign In</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
