<div class="col-lg-12 mb-5 mt-5">
        <div class="swiper-container mySwiper iq-width overflow-hidden mx-auto">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/01_2.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/02_1.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/03_1.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/04_1.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/05.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/06.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/07.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/08.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid w-100 rounded" src="assets/images/09.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>