<div class="wrapper">
  <div class="login-content">
    <div class="container">
      <div
        class="row d-flex align-items-center justify-content-center vh-100 w-100 m-0"
      >
        <div class="col-lg-5 col-md-12 align-self-center bg-primary py-3">
          <div class="card p-0 mb-0">
            <div class="card-body auth-card">
              <div class="logo-img text-center mb-3">
                <img
                  src="assets/images/logo-white.png"
                  height="30"
                  alt="logo"
                />
              </div>
              <h1 class="text-primary reset-pw fw-900 text-center">
                Reset Password
              </h1>
              <p class="text-center mb-4 auth-desc">
                Enter your new password below to reset your account.
              </p>
              <form [formGroup]="resetForm" (ngSubmit)="submit()">
                <div class="custom-form-field mb-4">
                  <label>New Password <span>*</span></label>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                  />
                  <div
                    class="text-danger"
                    *ngIf="fc['password'].errors && isSubmitted"
                  >
                    <div *ngIf="fc['password'].errors['required']">
                      Password is required
                    </div>
                  </div>
                </div>

                <div class="custom-form-field mb-4">
                  <label>Confirm Password <span>*</span></label>
                  <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control"
                  />
                  <div
                    class="text-danger"
                    *ngIf="fc['confirmPassword'].errors && isSubmitted"
                  >
                    <div *ngIf="fc['confirmPassword'].errors['required']">
                      Confirmation required
                    </div>
                    <div *ngIf="fc['confirmPassword'].errors['notMatch']">
                      Passwords do not match
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                  Reset Password
                </button>
              </form>
              <div class="auth-signup mt-4">
                <p class="text-center mb-0">
                  Back to <a routerLink="/signin" class="ms-2">Sign In</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
