<div class="d-block text-center mt-5">
    <h2 class="mb-3">Search by Book Name</h2>
    <div class="d-flex flex-column flex-lg-row align-items-center gap-3 custom-search mb-lg-5 mx-0 mx-md-auto">
        <div
            class="d-flex flex-column flex-md-row w-50 search-bar-width gap-3 align-items-center justify-content-end mx-md-auto">
            <div class="form-group mb-0 iq-select2-container-width bg-white custom-select-category">
                <select class="select2-basic-single js-states form-control" name="state" style="width: 100%;">
                    <option>All</option>
                    <option>A Books</option>
                    <option>The Sun</option>
                    <option>Harsh Book</option>
                    <option>Peopel Book</option>
                    <option>The Fog</option>
                </select>
            </div>
            <div class="form-group mb-0 iq-select2-container-width bg-white custom-select-category">
                <select class="select2-basic-single js-states form-control" name="state" style="width: 100%;">
                    <option>Genres</option>
                    <option>General</option>
                    <option>History</option>
                    <option>Hooror</option>
                    <option>Fantasy</option>
                    <option>Literary</option>
                    <option>Manga</option>
                </select>
            </div>
            <div class="form-group mb-0 iq-select2-container-width bg-white custom-select-category">
                <select class="select2-basic-single js-states form-control" name="state" style="width: 100%;">
                    <option>Year</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                </select>
            </div>
            <div class="form-group mb-0 iq-select2-container-width bg-white custom-select-category">
                <select class="select2-basic-single js-states form-control" name="state" style="width: 100%;">
                    <option selected="">Author</option>
                    <option>Milesiy Yor</option>
                    <option>Ira Membrit</option>
                    <option>Anna Mull</option>
                    <option>John Smith</option>
                    <option>David King</option>
                    <option>Kusti Franti</option>
                </select>
            </div>

        </div>
        <div class="d-flex align-items-center w-50 search-bar-width mb-5 mb-lg-0 mx-md-auto">
            <div class="d-block w-75">
                <div class="form-group input-group mb-0 search-input category-search-input">
                    <span class="input-group-text  ps-3 pe-0 border-0">
                        <i class="ph ph-magnifying-glass"></i>
                    </span>
                    <input type="text" class="form-control  border-0" placeholder="Search...">

                </div>
            </div>
            <button type="submit" class="btn btn-primary search-data ms-2">Search</button>
        </div>
    </div>
</div>