<div class="mt-5">
  <div class="card">
    <div class="card-body">
      <p class="pt-3"><b>Price Details</b></p>
      <!-- <div class="d-flex justify-content-between mb-1">
                    <span>Total MRP</span>
                    <span>$829</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span>Bag Discount</span>
                    <span class="text-primary">-20$</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span>Estimated Tax</span>
                    <span>$15</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span>EMI Eligibility</span>
                    <span><a href="#">Details</a></span>
                </div>
                <div class="d-flex justify-content-between border-bottom pb-3">
                    <span>Delivery Charges</span>
                    <span class="text-primary">Free</span>
                </div> -->
      <div class="d-flex justify-content-between pt-3">
        <span class="text-dark"><strong>Total</strong></span>
        <span class="text-dark"
          ><strong>${{ total }}</strong></span
        >
      </div>

      <button id="paypal-button" class="paypal-btn mt-3" (click)="startPayment()">
  <span class="paypal-text">
    <span class="paypal-dark">Pay</span><span class="paypal-blue">Pal</span>
  </span>
</button>

    </div>
  </div>
  <div class="card">
    <div class="card-body card-body p-0 checkout-policy">
      <ul class="p-0 m-0">
        <li class="d-flex align-items-center border-bottom">
          <div class="checkout-icon">
            <i class="ph ph-shield-check"></i>
          </div>
          <h6 class="m-0">Security policy (Safe and Secure Payment.)</h6>
        </li>
        <li class="d-flex align-items-center border-bottom">
          <div class="checkout-icon">
            <i class="ph ph-truck"></i>
          </div>
          <h6 class="m-0">Delivery policy (Home Delivery.)</h6>
        </li>
        <li class="d-flex align-items-center">
          <div class="checkout-icon">
            <i class="ph ph-arrow-u-up-left"></i>
          </div>
          <h6 class="m-0">Return policy (Easy Retyrn.)</h6>
        </li>
      </ul>
    </div>
  </div>
</div>
