<div class="container card">
    <div class="card-header d-flex justify-content-between align-items-center position-relative bg-primary mt-5">
        <div class="iq-header-title">
            <h4 class="mb-0 text-white">Wishlist</h4>
        </div>
    </div>
    <div class="card-body py-0">
        <ul class="list-inline p-0 m-0 list-inline-res">
            <li class="checkout-product pt-5 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-sm-3 col-lg-2">
                        <div class="row align-items-center">
                            <div class="col-sm-3 pb-3 text-center">
                                <a href="javascript:void();" class="badge bg-danger delete-btn p-2"><i class="ri-close-fill"></i></a>
                            </div>
                            <div class="col-sm-9">
                                <span class="checkout-product-img">
                                    <a href="javascript:void();">
                                        <img class="img-fluid rounded" src="assets/images/01_1.jpg" alt="">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-4 my-3">
                        <div class="checkout-product-details">
                            <h5>The Raze night book</h5>
                            <p class="text-info">In stock</p>
                            <div class="price">
                                <h5>$180.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row align-items-center mt-2">
                                    <div class="col-sm-7 col-lg-6">
                                        <div class="btn-group iq-qty-btn" data-qty="btn" role="group">
                                          <button type="button" class="btn btn-sm btn-outline-light iq-quantity-minus">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="3" viewBox="0 0 6 3" fill="none">
                                              <path d="M5.22727 0.886364H0.136364V2.13636H5.22727V0.886364Z" fill="currentColor"></path>
                                            </svg>
                                          </button>
                                          <input type="text" class="btn btn-sm btn-outline-light input-display" data-qty="input" pattern="^(0|[1-9][0-9]*)$" minlength="1" maxlength="2" value="2" title="Qty" readonly="">
                                          <button type="button" class="btn btn-sm btn-outline-light iq-quantity-plus">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8" fill="none">
                                              <path d="M3.63636 7.70455H4.90909V4.59091H8.02273V3.31818H4.90909V0.204545H3.63636V3.31818H0.522727V4.59091H3.63636V7.70455Z" fill="currentColor"></path>
                                            </svg>
                                          </button>
                                        </div>                                    </div>
                                    <div class="col-sm-5 col-lg-6">
                                        <span class="product-price">$180.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-5 mt-3 my-md-0">
                                <a href="#" class="cart-btn">
                                    <button type="submit" class="btn btn-primary view-more">
                                        Add To Cart
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="checkout-product pt-5 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-sm-3 col-lg-2">
                        <div class="row align-items-center">
                            <div class="col-sm-3 pb-3 text-center">
                                <a href="javascript:void();" class="badge bg-danger delete-btn p-2"><i class="ri-close-fill"></i></a>
                            </div>
                            <div class="col-sm-9">
                                <span class="checkout-product-img">
                                    <a href="javascript:void();">
                                        <img class="img-fluid rounded" src="assets/images/02_1.jpg" alt="">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-4 my-3">
                        <div class="checkout-product-details">
                            <h5>Harsh Reality book</h5>
                            <p class="text-info">In stock</p>
                            <div class="price">
                                <h5>$250.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row align-items-center mt-2">
                                    <div class="col-sm-7 col-lg-6">
                                        <div class="btn-group iq-qty-btn" data-qty="btn" role="group">
                                          <button type="button" class="btn btn-sm btn-outline-light iq-quantity-minus">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="3" viewBox="0 0 6 3" fill="none">
                                              <path d="M5.22727 0.886364H0.136364V2.13636H5.22727V0.886364Z" fill="currentColor"></path>
                                            </svg>
                                          </button>
                                          <input type="text" class="btn btn-sm btn-outline-light input-display" data-qty="input" pattern="^(0|[1-9][0-9]*)$" minlength="1" maxlength="2" value="2" title="Qty" readonly="">
                                          <button type="button" class="btn btn-sm btn-outline-light iq-quantity-plus">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8" fill="none">
                                              <path d="M3.63636 7.70455H4.90909V4.59091H8.02273V3.31818H4.90909V0.204545H3.63636V3.31818H0.522727V4.59091H3.63636V7.70455Z" fill="currentColor"></path>
                                            </svg>
                                          </button>
                                        </div>                                    </div>
                                    <div class="col-sm-5 col-lg-6">
                                        <span class="product-price mt-4">$250.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-5 mt-3 my-md-0">
                                <a href="#" class="cart-btn">
                                    <button type="submit" class="btn btn-primary view-more">
                                        Add To Cart
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="checkout-product pt-5 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-sm-3 col-lg-2">
                        <div class="row align-items-center">
                            <div class="col-sm-3 pb-3 text-center">
                                <a href="javascript:void();" class="badge bg-danger delete-btn p-2">
                                    <i class="ri-close-fill"></i>
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <span class="checkout-product-img">
                                    <a href="javascript:void();">
                                        <img class="img-fluid rounded" src="assets/images/03_1.jpg" alt="">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-4 my-3">
                        <div class="checkout-product-details">
                            <h5>The House in the Fog</h5>
                            <p class="text-info">In stock</p>
                            <div class="price">
                                <h5>$399.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row align-items-center mt-2">
                                    <div class="col-sm-7 col-lg-6">
                                        <div class="btn-group iq-qty-btn" data-qty="btn" role="group">
                                          <button type="button" class="btn btn-sm btn-outline-light iq-quantity-minus">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="3" viewBox="0 0 6 3" fill="none">
                                              <path d="M5.22727 0.886364H0.136364V2.13636H5.22727V0.886364Z" fill="currentColor"></path>
                                            </svg>
                                          </button>
                                          <input type="text" class="btn btn-sm btn-outline-light input-display" data-qty="input" pattern="^(0|[1-9][0-9]*)$" minlength="1" maxlength="2" value="2" title="Qty" readonly="">
                                          <button type="button" class="btn btn-sm btn-outline-light iq-quantity-plus">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8" fill="none">
                                              <path d="M3.63636 7.70455H4.90909V4.59091H8.02273V3.31818H4.90909V0.204545H3.63636V3.31818H0.522727V4.59091H3.63636V7.70455Z" fill="currentColor"></path>
                                            </svg>
                                          </button>
                                        </div>                                    </div>
                                    <div class="col-sm-5 col-lg-6">
                                        <span class="product-price">$399.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-5 mt-3 my-md-0">
                                <a href="#" class="cart-btn">
                                    <button type="submit" class="btn btn-primary view-more">
                                        Add To Cart
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
